@CHARSET "UTF-8";
.logo{
	
	float: left;
	width: 33%;
	height: 50px;
	text-align: center;
	line-height: 100px;
}
.menu{
	font: "微软雅黑";
	font-size:large;
	color: white;
	width: 15%;
	text-decoration: none;
	line-height: 55px;	
}
.videoPlayer{
	float: left;
	width: 60%;
	height: 450px;
}
.videoFile{
	float: left;
	width: 39%;
	height: 450px;
	background-color:#EEEEEE;
} 
iframe{
	width:95%;
	height:450px;
}
.videoPicture{
	float:left;
	width:20%;
	height:155px;
	text-align:center;
}
.videoPicture{
	float:left;
	width:20%;
	height:155px;
	text-align:center;
}
.videoImg{
	float:left;
	width:20%;
	height:125px;
	text-align:center;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);  
}
.vMessage{
	float:left;
	width:30%;
	height:125px;
	text-align:center;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);  
}



