body{
	margin-top: 30px;
	max-width: 95%;
    margin: 0px auto;
}
fieldset{
	width: 600px;
    height: 450px;
    overflow:hidden;
    margin: auto;
    position: absolute;
    border: none;
    left: 0px;
    margin-top: -15px;
    margin-left:250px;
#result{
	font-size: 12px;
	color: red;
	text-align: center;
	margin-top: -35px;
	margin-left: 50px;
}